doctype html
html
  head
    title Dashboard
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
  body
    header
      h1 Dashboard
    .container
      p Welcome, #{user.Username}!
      a(href='/products') Go to Products

      if user.Username == 'admin'
        h2 Welcome to the admin dashboard
        ul.admin-menu
          li.admin-menu-item
            a.admin-menu-link(href='/admin/update-product') Update Product
          li.admin-menu-item
            a.admin-menu-link(href='/admin/view-all-orders') View All Orders