doctype html 
html
    head
        - if (!stylesheets) stylesheets = '/stylesheets/styles.css';
        title= pageTitle ? pageTitle : 'Default Title'
        link(rel='stylesheet', href=stylesheets, type='text/css')
    body
        block content