extends layout

block content 
    h1 Products Page!
    p This is the products page!

    - let l = products.length;
    - for (let i = 0; i < rows; i++)
        .row
            - let columns = 4;
            - l = l - 4;
            - if (l < 0) columns = columns + l;
            - for (let j = 0; j < columns; j++)
                - let currProduct = products[(i*4) + j];
                .column
                    a(href=`/products/${currProduct.Slug}`)
                        img(src='/', alt=currProduct.Name)
                        h2= currProduct.Name 
                        p= currProduct.Price
        
        
