body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
p {
    font-size: 18px;
    color: #333;
}
  
a.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}
  
a.button:hover {
    background-color: #0056b3;
}

.admin-menu {
  list-style-type: none;
  padding: 0;
}

.admin-menu-item {
  margin-bottom: 10px;
}

.admin-menu-link {
  display: block;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.admin-menu-link:hover {
  background-color: #2980b9;
}